{% extends 'base.html' %}
{% block title %}Main{% endblock %}
{% block content %}




{% for y in category %}
<h1>{{y.title}}</h1>
<div class="d-flex">
  {% for i in meals %}
  {% if i.Categry == y %}
  <div class="card" style="width: 18rem;">
    <img src="{{i.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{i.title}}</h5>
      <p class="card-text">{{i.description}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endfor %}
{% endblock %}